<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
</head>
<body>
<ul class="layui-nav layui-bg-green" style="width: 100%;text-align: right">
    <li class="layui-nav-item layui-this"><a href="/ums/login?type=student">学生登录</a></li>
    <li class="layui-nav-item"><a href="/ums/login?type=teacher">教师登录</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">XXX</a>
        <dl class="layui-nav-child">
            <dd><a href="">菜单1</a></dd>
            <dd><a href="">菜单2</a></dd>
            <dd><a href="">菜单3</a></dd>
        </dl>
    </li>
</ul>

<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>

</body>
</html>